.wy-nav-content-wrap {
    background: #53608e;
}

.wy-nav-side{
    background: #e6a478;
}

.wy-side-nav-search {
    background: #fb442e;
}

.wy-nav-content {
    background: #899ee9;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}
 
.wy-table-responsive {
    overflow: visible !important;
}